<!DOCTYPE html>
<html>
  <head>
    <title>CenterpieceFMT</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  
    <%= analytics_init if Rails.env.production? %>
  </head>
    <body>
      <div class="container-fluid">
        <div class="container-fluid">
        <br><br><br>
          <div align="left"><img src="/images/cropped_tulips.png" width="319"/>
     
            <h1> <a href="/">CenterpieceFMT </a></h1><br>
               <p> <b>CenterpieceFMT</b> is designed as a sofware-as-a-service solution for small businesses in the floral industry.  More specifically, 
                this web application is intended for those florists who focus primarily on weddings and events.</p>     
               <p><b>CenterpieceFMT</b> is designed to be a florist's management tool for:</p>
               <ul>
                 <li> Managing employees, events, customers, prospects, and your day
                 <li> Quickly generating cost-effective quotes and proposals for prospective customers
                 <li> Compiling and streamlining your weekly ordering process with your local wholesaler
                 <li> Organizing the days leading up to the customer delivery date
               </ul>
   
   
              <p>CenterpieceFMT was developed in Denver, Colorado using Ruby-on-Rails and Twitter-Bootstrap.  The application is currently hosted by Heroku, a
              cloud hosting company and a subsidary of salesforce.com.<br>
   
               <p id="contact"><b> If you have any interest in learning more about CenterpieceFMT or signing up to be a beta-tester, please feel
               free to contact me at <u>seth.geyer@gmail.com.</u> Thanks. </b><br> </p>
               
              <br><br><br><br>
        <hr />

    
    <div class="footer">
          <p><i>  &copy; 2013 CenterpieceFMT.  All rights reserved.<br></p>
        </div>  
    
    
    </body>
</html>