<!DOCTYPE html>
<html>
  <head>
    <title>CenterpieceFMT</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
    <body>
      <div class="container-fluid">
        <div class="container-fluid">
        <br><br><br>
          <div align="left"><img src="/images/cropped_tulips.png" width="319"/>
     
            <h1> <a href="/">CenterpieceFMT </a></h1><br>
               <p> <b>CenterpieceFMT</b> is designed as a sofware-as-a-service solution for small businesses in the floral industry.  Designed using Twitter-Bootstrap and Ruby-on-Rails, this web application
               is specifically intended for those florists who focus primarily on weddings and events.</p>     
               <p><b>CenterpieceFMT</b> is designed to be a florist's management tool for:</p>
               <ul>
                 <li> Managing employees, events, customers, prospects, and your day
                 <li> Quickly generating cost-effective quotes and proposals for prospective customers
                 <li> Managing and organizing your inventory of rented products
                 <li> Compiling and streamlining your weekly ordering process with your local wholesaler
                 <li> Organizing the days leading up to the customer delivery date
               </ul>
   
               <p id="contact"><b> If you have any interest in learning more about CenterpieceFMT or signing up to be a beta-tester, please feel
               free to contact me at <u>seth.geyer@gmail.com.</u></b><br> </p>Or, feel free to login into the <b>beta site</b> using the following credentials: </p>
     
               <p><b>Florist ID:</b> aprilbeta <br>
                  <b>Username:</b> aprilbeta<br>
                  <b>Password:</b> aprilbeta<br>
                  <a href="/login">Go to Login</a></p>
              <br>
          <h4>The floral business... in summary </h4>      
            <div><img src="/images/process.jpeg" width="900"/><br><br>
              <p><a href="/">Go Back</a></p> 
            </div>
        </div>
      </div>
              <br><br><br><br>
        <hr />

    
    <div class="footer">
          <p><i>  &copy; 2013 CenterpieceFMT.  All rights reserved.<br></p>
        </div>  
    
    
    </body>
</html>