<!DOCTYPE html>
<html>
  <head>
    <title>flowerbuds</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
      <body>
 <div class="container-fluid">
    <div class="container-fluid"><br><br><br>

      <div align="left"><img src="/images/gerber.jpeg" width="100" height="100"/> <img src="/images/yellow_gerber.jpeg" width="100" height="100" /> <img src="/images/red_gerber.jpeg" width="100" height="100" />
     
      <h1> flower buds, inc. </h1>
     
     <p> flower buds is the working title of Seth Geyer's Ruby on Rails Class Project. (It is in no way
     affiliated w/ flowerbud.com.) The front end was designed using Twitter Bootstrap.  This web application
     is designed to be a software-as-a-service solution for small companies in the floral industry.</p>
    
     <p>flower buds was designed with the intent to help florists spend more time designing pretty 
     floral arrangements and less time managing their business.  Specifically, this web application
     was designed for those florists who focus primarily on weddings and events.</p>
     
     <p>flower buds is designed to be   a florist's tool for:</p>
     <ul>
     <li> Managing employees, events, customers, prospects, and your day
          
     <li> Quickly generating cost-effective quotes and proposals for prospective customers
     <li> Managing and organizing your inventory of rented products
     <li> Compiling and streamlining your weekly ordering process w/ your local wholesaler
     <li> Organizing the days leading up to the customer delivery date</ul>
     
     <p> If you have any interest in learning more about this project, please feel
     free to email me at seth.geyer@gmail.com.         
     
      <p><a href="/">Go Back</a></p> 
      
       </div>
       </div>
       </div>
</body>
</html>