<!DOCTYPE html>
<html>
  <head>
    <title>CenterpieceFMT</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container-fluid">
      <div class="container-fluid"><br><br>
      
          <div align="left"><img src="/images/cropped_tulips.png" width="319"/>
     
            <h1> <a href="/">CenterpieceFMT </a></h1><br>
      
    
          <h4 id="create_event">Create a New Customer & Event Opportunity</h4>
          <p> Let CenterpieceFMT be your events calendar, your planner, your rolodex.   Quickly and easily create new sales opportunities for future brides and keep tabs 
          on all booked customer events. CenterpieceFMT organizes all of your active events and proposals on the home page.  
          As you and your team create new events, they will be added to the home page view.  View the listing of all your active events, 
          including booked opportunities, open proposals, and upcoming delivery dates.  Access it at any time using any device.  View your 
          entire team's events and sales activities or search for just your own.  Easily evaluate your availability on 
          certain days or months. Quickly drill down into the details for the customer, event, or quote directly from the homepage.   <a href="/">Go Back</a></p><br>
          <img src="/images/home_view.png" class="img-polaroid"/> 
          <br><br><br><br><br>


          <h4 id="itemize"> Itemize Arrangements for the Event</h4>
          <p>Use CenterpieceFMT as a design consultation tool.  Quickly and easily itemize the details for each arrangement for the event.  Add detailed descriptions of the 
          customer's requirements and desires.  Include images that the customer has provided and/or choose to include stock images from your very own online product gallery.  
           <a href="/">Go Back</a></p><br>
          <img src="/images/event_edit_view.png" class="img-polaroid" />
          
          <br><br><br><br>
          
          <h4 id="virtually"> Virtually Design Arrangements</h4>
          <p>  Access the Virtual Studio during the design consultation and "virtually" build the customer's personalized arrangements on the fly.  From the virtual studio, search the 
          Image Gallery for flower types that meet the customer's needs.  Add the flowers (and desired quantities) to the individual arrangement.  Tab through each individual
          arrangement to quickly and easily provide your customer with a visual "taste" of what the arrangements will look like.   <a href="/">Go Back</a></p><br>   
          <img src="/images/vstudio_view.png" class="img-polaroid"/>
           <br><br><br><br><br>
          
          
         
          <h4 id="generate">Generate Winning Quotes & Proposals</h4>
          <p> You've got more important things to focus on.  So, let CenterpieceFMT do the math and some of the other dirty work for you.  CenterpieceFMT gathers the relevant 
          information - already captured within your personalized product catalog, the virtual studio, and the event details - and calculates an estimated (and adjustable) 
          list price for each customized arrangement you create. 
          As well, CenterpieceFMT will total the budgeted hours and stem counts for each type of arrangement and - in total - for the event.
          As you tweak the customer quote, CenterpieceFMT will calculate the overall profit for the event as well as the per item price for each of the arrangements.  </p><br>
          <img src="/images/quote_module_view.png" class="img-polaroid"/> <br><br>
           
          
           <p>Using the images, details, numbers, and information you've captured for an event, CenterpieceFMT will generate a professional-looking proposal for your customers.
          Choose from 2 different proposal styles.  Customize the language on the document.  Show images.  Include a coverpage.  The customizable proposal cleanly displays
          the event details, pricing and description of each arrangement, and a signature page.  CenterpieceFMT allows you to easily make adjustments to the proposal, 
          including the ability to quickly toggle between including/excluding
          certain arrangements from the quote. <a href="/">Go Back</a></p><br>
          <img src="/images/proposal_view.png" class="img-polaroid"/>
           
          <br><br><br><br><br>
                
          <h4 id="wholesale">Place Wholesale Orders</h4>
          <p> Once you've won the customer, you'll want to schedule the wholesale order date for the event.  CenterpieceFMT will organize your order to avoid potentially
          over-ordering from the wholesaler.  
          CenterpieceFMT consolidates the stem counts for all of your upcoming events into a single concise list - itemizing exactly how many bunches of which types of
          flowers you will need to order from the wholesaler. <a href="/">Go Back</a></p><br>
          <img src="/images/wholesale_view.png" class="img-polaroid"/>
          
           <br><br><br><br><br>
          
           <h4 id="ddd">Design & Deliver the Event</h4>
          <p>On the design day for the event, use the Design Day Details Summary generated by CenterpieceFMT as your "grocery list" for the event.  It is the "love child" of the 
          Customer Proposal and the Wholesale Order List.  The Design Day Details Summary 
          itemizes all of the things you will need for the individual event, including all flowers, vases, candles, etc.  And, it provides the stemcount detail 
          for each of your individual arrangements.  Give the Design Day Details Summary to your "helpers"
          and let them round up everything while you focus on the task at hand.... creating breathtaking arrangements and making satisfied customers.
          <a href="/">Go Back</a></p><br>
          
                 
        <br><br><br><br>
        <br><br><br><br>
        <br><br><br><br>
        <br><br><br><br>
        <br><br><br><br>
 
      
       </div>
      </div>
    </div>
  </body>
</html>