<!DOCTYPE html>
<html>
  <head>



    <title>flowerbuds</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
      <body>
 <div class="container-fluid">
    <div class="container-fluid"><br><br><br>

      <div align="left"><img src="/images/gerber.jpeg" width="100" height="100"/> <img src="/images/yellow_gerber.jpeg" width="100" height="100" /> <img src="/images/red_gerber.jpeg" width="100" height="100" />
<ul class="chapters">
     
     <li><a href="#organize">Organize</a></li>
      Jujubes sesame snaps tart. Pudding brownie muffin. Chocolate bar gingerbread pudding jelly-o chocolate cake pie. Sweet marzipan NERDIES sesame snaps chocolate caramels. Jelly beans chocolate icing cake dessert jelly beans carrot cake. Cheesecake marshmallow topping marzipan powder muffin marzipan marzipan. Powder dessert sweet roll. Cookie pastry dragée lollipop carrot cake soufflé muffin. Chocolate cake sweet lollipop danish gingerbread cotton candy. Chocolate tiramisu marshmallow topping brownie gummi bears chupa chups applicake marshmallow. Wafer donut muffin. Sugar plum croissant powder jelly jelly beans sesame snaps oat cake oat cake. Chocolate cake chocolate bar dessert biscuit gingerbread tootsie roll.
Cookie pudding bonbon cotton candy. Cupcake bonbon jelly-o sweet roll apple pie dragée carrot cake gingerbread. Biscuit icing dessert. Cake lollipop wafer oat cake gingerbread tiramisu lollipop applicake. Chocolate bar jelly-o brownie chupa chups tart. Carrot cake cookie tootsie roll brownie. Croissant cheesecake candy canes. Chocolate cotton candy sweet roll chocolate sweet roll candy canes. Pudding chocolate cake wafer croissant oat cake. Marshmallow UNERDWEAR.COM tiramisu toffee gingerbread croissant chupa chups sweet croissant. Marzipan candy canes NERDIES. Chocolate bar chocolate bar chupa chups pastry sweet soufflé tootsie roll ice cream applicake. Cotton candy dragée applicake cake UNERDWEAR.COM cupcake caramels.
Pie gummi bears croissant sweet pudding oat cake halvah donut. Ice cream lemon drops cake pudding sugar plum pie icing cake lemon drops. Cupcake topping topping gingerbread tart sweet roll chupa chups. Cheesecake carrot cake caramels tootsie roll pie macaroon jelly-o brownie tiramisu. Fruitcake cheesecake tart lollipop cookie. Dessert danish chocolate jelly lollipop lollipop sesame snaps. Chocolate cake cheesecake dessert halvah halvah toffee bonbon jelly chocolate. Pudding marshmallow tart marzipan. Cotton candy biscuit chocolate. Tart sugar plum lollipop candy sweet. Powder sweet roll powder topping jelly. Bear claw pie dragée sweet. Icing cookie halvah. Macaroon fruitcake jujubes gingerbread chupa chups marshmallow jelly beans gingerbread.
Candy canes lollipop ice cream jelly-o halvah cupcake. Muffin sugar plum fruitcake. Chocolate cake cupcake liquorice gingerbread tiramisu powder candy. Icing candy canes cheesecake applicake biscuit. Gummies gummies fruitcake dragée NERDIES cheesecake. Gummi bears candy marshmallow chocolate tootsie roll cupcake. Icing dragée danish gummies pie gingerbread. Jelly chocolate pie jujubes dragée. Danish pie cotton candy dessert liquorice. UNERDWEAR.COM tootsie roll pie pie candy muffin. Jelly oat cake dragée sweet caramels bear claw. Cake wafer marshmallow. Sesame snaps sugar plum dessert cupcake sweet pastry sweet. Muffin sweet tiramisu croissant sugar plum candy biscuit cotton candy.
Powder gingerbread brownie donut applicake jujubes. Marshmallow biscuit cotton candy pie pudding cake gummi bears. Chocolate bar cake jelly lollipop gummi bears gummies danish. Chupa chups cake topping. Lemon drops caramels jelly wafer jelly candy canes. Oat cake danish sesame snaps jelly beans cake lollipop. Caramels chocolate fruitcake cheesecake. Pie tiramisu soufflé marshmallow pastry icing tootsie roll. Tart fruitcake pie. Chocolate bar cake danish candy canes tart apple pie macaroon cake pastry. Cupcake sweet roll pastry pastry oat cake powder lemon drops. Pie jujubes soufflé NERDIES.
      <p><a href="/">Go Back</a></p>
      
     <li><a href="/marketing#focus">Focus</a></li>
     Candy NERDIES gummies cheesecake cotton candy. Gummies dragée sesame snaps gummies cookie. Cheesecake sweet roll pastry cheesecake fruitcake dragée. Sweet roll macaroon carrot cake brownie. Tart marzipan topping sweet roll chocolate bar. Fruitcake halvah apple pie. Jelly-o carrot cake brownie tiramisu caramels sweet chocolate bar macaroon jelly. Cake pudding sweet UNERDWEAR.COM lemon drops. Dessert sweet toffee NERDIES powder biscuit pudding donut. Pastry sweet biscuit gingerbread macaroon bear claw.
Sugar plum gummies jelly beans tart carrot cake. Cheesecake danish jelly muffin tart. Sesame snaps dragée gummies liquorice. Chupa chups cupcake gummies chocolate cake. Bonbon danish cupcake sweet roll biscuit carrot cake donut candy canes. Marzipan sesame snaps bear claw croissant. Biscuit sesame snaps sugar plum macaroon chocolate bar marzipan.
Soufflé sweet roll pastry chocolate cake liquorice danish bear claw. Ice cream cake sweet roll NERDIES ice cream cheesecake bear claw. Cotton candy apple pie topping marzipan chocolate bar macaroon pastry. UNERDWEAR.COM toffee sweet roll dragée donut UNERDWEAR.COM chupa chups NERDIES candy. Cheesecake jujubes powder muffin. Sugar plum pudding macaroon cake jelly UNERDWEAR.COM dessert halvah candy. Halvah chocolate tootsie roll cookie fruitcake gummi bears pie soufflé ice cream. Chocolate bar danish sweet roll lemon drops. Jelly danish dessert. Biscuit sweet sweet roll dragée toffee.
Sesame snaps chocolate liquorice powder brownie topping chocolate. Gummi bears brownie cake chocolate oat cake candy lemon drops candy canes ice cream. Dragée muffin chocolate wafer lemon drops topping dragée. Powder sugar plum icing. Chocolate cake wafer icing pudding icing candy applicake. Ice cream macaroon gingerbread donut wafer applicake sweet roll caramels carrot cake. Apple pie sugar plum UNERDWEAR.COM. Brownie NERDIES tart chocolate bar chupa chups tiramisu topping fruitcake halvah.
Pudding toffee gummi bears topping cotton candy brownie. Pastry chocolate croissant lemon drops bear claw croissant. Macaroon halvah danish pudding halvah chocolate. Icing fruitcake sweet cotton candy pastry. Muffin oat cake macaroon. Tootsie roll cheesecake donut donut candy croissant tootsie roll pudding. Lollipop lollipop dessert lollipop biscuit lollipop. Sweet roll toffee gummi bears apple pie bonbon sweet roll. Chocolate bar croissant danish bear claw halvah. Gummies soufflé donut pastry bonbon danish candy.
      <p><a href="/">Go Back</a></p>
      
      <li><a href="#optimize">Optimize</a></li>
     Topping dessert jujubes carrot cake. Lemon drops liquorice muffin lemon drops cotton candy. Chocolate cake croissant pastry tiramisu muffin oat cake chupa chups cake sweet roll. Tootsie roll donut marshmallow chocolate cake muffin. Muffin marzipan topping tootsie roll soufflé toffee. Chocolate bear claw liquorice ice cream. Sugar plum fruitcake donut applicake chocolate bar wafer gummies pastry. Jelly-o UNERDWEAR.COM croissant donut marzipan jelly gummi bears UNERDWEAR.COM. Gummies lollipop powder toffee gingerbread chocolate bar apple pie pie gummies. Soufflé ice cream chocolate cake lollipop fruitcake jujubes donut NERDIES jelly beans. Cotton candy pudding fruitcake bonbon pie marzipan jelly-o. Chocolate brownie gummies jelly apple pie candy. Gummies sugar plum marzipan caramels gingerbread sugar plum chocolate cake chupa chups gummies. Cupcake carrot cake chocolate bar tiramisu cake macaroon cake jelly ice cream.
Carrot cake powder chocolate donut. Chupa chups gummies toffee marzipan chocolate bar. Cake ice cream soufflé sweet roll. Chocolate cake lemon drops candy liquorice sweet roll chocolate cake candy danish powder. Carrot cake ice cream apple pie gingerbread gingerbread. Fruitcake sweet ice cream sweet pie pie powder muffin. Cotton candy caramels halvah. Toffee marzipan wafer bear claw chocolate cake croissant brownie gingerbread. Chocolate bar cheesecake jelly-o cheesecake chocolate cake sugar plum chocolate cake gummies tootsie roll. Pudding carrot cake pastry pastry apple pie muffin tiramisu carrot cake. Halvah macaroon tiramisu jelly jujubes tiramisu topping halvah. Candy donut muffin marzipan pastry danish cookie.
      <p><a href="/">Go Back</a></p>
      
     <li><a href="#create">Create</a></li>
     Croissant chocolate bar pudding sesame snaps tootsie roll jelly donut icing candy. Applicake lemon drops wafer jujubes. Dessert chocolate bar croissant. Fruitcake applicake cupcake.
Lemon drops brownie candy brownie powder sugar plum chocolate fruitcake liquorice. Jelly brownie brownie jelly beans. Dessert chocolate candy canes pastry lollipop.
Candy canes liquorice oat cake. Carrot cake candy canes apple pie topping pastry UNERDWEAR.COM applicake. Tootsie roll dragée marzipan.
     <p><a href="/">Go Back</a></p>
      
      
</ul>
       </div>
       </div>
       </div>
</body>
</html>