  
  
  <h1> Specifications for Event ID: <%=@event_id%> / <%=Event.where(id: @event_id).first.name%> </h1>
  
  <p> Macs = Command ~ to toggle between browser windows</p>
  
  
    <table border='1'>
    <th>Arrangement</th>
    <th>Details</th>
       
   
    <%for specification in @specifications%>
     <tr>
      <td><%=specification.item_name%></td>
      <td><%=specification.item_specs%></td> </tr>
     <tr><td>images </td></tr>
   <%end%>
      
    
  </table>

