<!DOCTYPE html>
<html>
  <head>
    <title>CenterpieceFMT</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
      <body>
        <div class="navbar navbar-fluid">
          <div class="navbar-inner">
            <div class="container">
              <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span class="icon-th-list"></span></a>
              <a href= "" class="brand"/>CenterpieceFMT</a>
              <div class = "nav-collapse collapse">
                <ul class="nav pull-right">
                  <li><a href="/about_us">About</a></li>
                  <li><a href="/about_us#contact">Contact</a></li>
                  <li><a href="/login">Login</a></li>
                </ul>      
              </div>
            </div>
          </div>
        </div>   
        <br>        
        <div class="container">
          <div class="hero-unit">
            <div align="middle">
              <img src="/images/cropped_tulips.png" width="500"/>
              <h1>CenterpieceFMT</h1><br>
              <p>A proposal-to-fufillment business management tool for floral designers. <br>
              Spend more time creating pretty floral arrangements and less time managing your business.</p>
            </div>
          </div>
          <div class="row">
            <div class="span3">
              <h2 align="center"><a href="/marketing#organize">Organize...</a></h2>
              <p align="center"> Your calendar. Your day. <br>Your sales effort. <p>
            </div>
            <div class="span3">
              <h2 align="center"><a href="/marketing#focus"> Focus...</a></h2>
              <p align="center"> On your designs.  On your customers. <br>On your prospects.
           </div>
            <div class="span3">
              <h2 align="center"><a href="/marketing#optimize">Optimize...</a></h2>
              <p align="center"> Your wholesale orders. Your time. <br>Your profit.<p>
            </div>
            <div class="span3">
              <h2 align="center"><a href="/marketing#create">Create....</a></h2>
              <p align="center"> Beautiful flowers.  Winning Proposals.  Happy customers.
            </div>
          </div>
        <br><br><br><br>
        <hr />
        <div class="footer">
          <p><i>  &copy; 2013 CenterpieceFMT.  All rights reserved. A Ruby-on-Rails / Twitter-Bootstrap Design. <br></p>
        </div><br>


        </div> <!-- /container -->

        <!-- Le javascript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="../assets/js/jquery.js"></script>
        <script src="../assets/js/bootstrap-transition.js"></script>
        <script src="../assets/js/bootstrap-alert.js"></script>
        <script src="../assets/js/bootstrap-modal.js"></script>
        <script src="../assets/js/bootstrap-dropdown.js"></script>
        <script src="../assets/js/bootstrap-scrollspy.js"></script>
        <script src="../assets/js/bootstrap-tab.js"></script>
        <script src="../assets/js/bootstrap-tooltip.js"></script>
        <script src="../assets/js/bootstrap-popover.js"></script>
        <script src="../assets/js/bootstrap-button.js"></script>
        <script src="../assets/js/bootstrap-collapse.js"></script>
        <script src="../assets/js/bootstrap-carousel.js"></script>
        <script src="../assets/js/bootstrap-typeahead.js"></script>

      </body>
    </html>
      